addict==2.4.0
antlr4-python3-runtime==4.9.3
asttokens==3.0.1
attrs==26.1.0
blinker==1.9.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
comm==0.2.3
ConfigArgParse==1.7.5
contourpy==1.3.3
cuda-bindings==13.2.0
cuda-pathfinder==1.5.4
cuda-toolkit==13.0.2
cycler==0.12.1
dash==4.1.0
decorator==5.2.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.25.2
Flask==3.1.3
fonttools==4.62.1
fsspec==2026.2.0
hydra-core==1.3.2
idna==3.13
importlib_metadata==9.0.0
iopath==0.1.10
ipython==9.13.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.20.0
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
kornia==0.8.2
kornia_rs==0.1.10
-e git+https://github.com/cvg/LightGlue.git@eb42fee2d71449efb0aa5c10549752b5d75384d8#egg=lightglue
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.1
mpmath==1.3.0
narwhals==2.20.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
numpy==2.4.4
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
omegaconf==2.3.0
open3d==0.19.0
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
packaging==26.2
pandas==3.0.2
parso==0.8.7
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.9.6
plotly==6.7.0
polars==1.40.1
polars-runtime-32==1.40.1
portalocker==3.2.0
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
PyYAML==6.0.3
referencing==0.37.0
requests==2.33.1
retrying==1.4.2
rpds-py==0.30.0
-e git+https://github.com/facebookresearch/sam2.git@2b90b9f5ceec907a1c18123530e92e794ad901a4#egg=SAM_2
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
traitlets==5.14.3
triton==3.6.0
typing_extensions==4.15.0
ultralytics==8.4.46
ultralytics-thop==2.0.19
urllib3==2.6.3
wcwidth==0.6.0
Werkzeug==3.1.8
widgetsnbextension==4.0.15
zipp==3.23.1
